# ignore all object and archive files
*.[oa]

# ignore all temporary files
*~

# ignore all the files in the build/ directory
build/

# do not ignore .gitignore
!.gitignore

# ignore netbeans related folders (maybe there is a better way to ignore this)
Serializer/nbproject

# end
